# disallow everything by default
# per https://stackoverflow.com/a/29932318
/*

# allow config items
!config/
!scripts/

# allow log files which update every time
!logs/
logs/*.gz
logs/telemetry/
!logs/latest.log
!logs/launcher-log.txt
!logs/debug.log

# allow datapacks
!datapacks/

# record enabled mods
# tied to a .git/hooks/pre-commit file which does `ls mods > mods.txt`
!mods.txt

# misc
!.gitignore

# unstable files
config/xaerominimap_entities.json

# spam
*.bak
config/structurify/