# disallow everything by default
# per https://stackoverflow.com/a/29932318
/*

# allow metadata files
!LICENSE
!README.md
!.gitattributes

# allow workflows
!.github/

# allow config items
!config/
!defaultconfigs/
!scripts/
!keybind_bundles.json
!kubejs
options.txt

# allow datapacks
!datapacks/

# record enabled mods
# tied to a .git/hooks/pre-commit file which does `ls mods > mods.txt`
!mods.txt

# misc
!.gitignore

# unstable files
config/xaerominimap_entities.json
config/ctgui/
config/worldedit/worldedit.properties
config/voicechat/voicechat-client.properties
config/scriptor_cost.cfg
config/scalablelux.properties

# spam
*.bak
config/structurify/
config/worldedit/.archive-unpack/
config/minihud/
# i have no idea what keeps generating this file, fabric is not installed
# hopefully i remember to unban it if i ever add fabric
config/fabric/indigo-renderer.properties
.probe
